ul, li {
  border: none;
  padding: 0px;
  margin: 0px;
}

.results {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
}

.results a,
.results img {
    max-width: 100%;
}

.results a {
  position: relative;
  display: block;
}

.no-results input {
  color: red;
}

input {
  border: 0px;
  outline: none;
  display: block;
  width: 100%;
}

.copy-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 8px 8px;
}

.copy-btn span {
  display: none;
}

.copy-btn.copied div {
  display: none;
}

.copy-btn.copied span {
  display: block;
}

.copy-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.copy-container.show {
  display: block;
}

.copy-container .content {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  text-align: center;
  transform: translateY(-50%);
}

.copy-container input {
  width: 70%;
  display: inline-block;
  text-align: center;
}

@media (min-width: 401px) {
  .results {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (min-width: 801px) {
  .results {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }

  .results a {
      width: 100%;
      height: 0px;
      display: block;
      padding-bottom: 100%;
      position: relative;
  }

  .results > div {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
  }

  .results img {
      position: absolute;
      left: 0px;
      max-width: 100%;
      top: 0px;
      max-height: 100%;
  }

}

@media (min-width: 1001px) {
  .results {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@media (min-width: 1201px) {
  .results {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
