ul, li {
  border: none;
  padding: 0px;
  margin: 0px;
}

.results {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
}

.results a,
.results img {
    max-width: 100%;
}

.no-results input {
  color: red;
}

input {
  border: 0px;
  outline: none;
  display: block;
  width: 100%;
}

@media (min-width: 401px) {
  .results {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (min-width: 801px) {
  .results {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }

  .results a {
      width: 100%;
      height: 0px;
      display: block;
      padding-bottom: 100%;
      position: relative;
  }

  .results > div {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
  }

  .results img {
      position: absolute;
      left: 0px;
      max-width: 100%;
      top: 0px;
      max-height: 100%;
  }

}

@media (min-width: 1001px) {
  .results {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@media (min-width: 1201px) {
  .results {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
