#body-container{
    margin-top: 30px;
}

#updated-badge{
    margin-right: 15px;
}

.result-card{
    margin-bottom: 30px;
}

.result-card .card{
    width: 100%;
}

.result-card .card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.results{
    margin-top: 50px;
}

.no-results input {
  color: red;
}

.copy-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 8px 8px;
}

.copy-btn span {
  display: none;
}

.copy-btn.copied div {
  display: none;
}

.copy-btn.copied span {
  display: block;
}

.copy-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.copy-container.show {
  display: block;
}

.copy-container .content {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  text-align: center;
  transform: translateY(-50%);
}

.copy-container input {
  width: 70%;
  display: inline-block;
  text-align: center;
}